<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
   <link href="../assets/mystyles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

        <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> <!--start of container-->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!--site name-->
          <a class="brand" href="index" title="Oval Ski Club">Oval Ski Club</a> 
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--Home link-->
              <li><a href="index" accesskey="h" title="Home" >Home</a></li>

              <!-- first drop down box-->
              <li class="dropdown"> 
                <a href="#"  title="Information"class="dropdown-toggle" data-toggle="dropdown" title="Information">Information <b class="caret"></b></a>
                <ul class="dropdown-menu">

                  <li><a href="aboutus" title="About Us"accesskey="a">About Us</a></li>

                  <li class="active"><a href="contactus"title="Contact Us" accesskey="c">Contact Us</a></li>

                  <li><a href="faq"title="Frequently Asked Questions" accesskey="q">FAQ's</a></li>
                </ul>
              </li>

              <!-- second drop down box-->
               <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Events">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="social"title="Social Events"accesskey="s">Social</a></li>

                  <li><a href="racingteam"title="Racing Team"accesskey="r">Racing Team</a></li>
                  
                  <li><a href="lessons"title="Lessons" accesskey="l">Lessons</a></li>
                </ul>
              </li>
            </ul> 

    
          <!-- drop down sign in-->
          <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Sign In">Sign In <strong class="caret"></strong></a>

            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">

              <!-- Login form here -->
            <form action="index">
              
              <!--Username-->
            <input style="margin-bottom: 15px;" type="text" placeholder="Username" size="30" title="Userame"/> 

            <!--Password-->
            <input style="margin-bottom: 15px;" type="password" placeholder="Password" name="user[password]" size="30" title="Password"/>

            <!--Sign In-->
            <button <input class= "btn btn-primary"  name="commit" value="Sign In" title="Sign In">Sign In</button>
          </form>
          </div>
        </div><!--/.nav-collapse -->
      </div><!--end of container-->
    </div>
  </div> 
    <div class="container">

      <!-- Hero unit -->
      <div class="hero-unit">
        <h1>Oval Ski Club!</h1>
        <h2>Contact Us!</h2>
        <br>
        <br>    <!--spacing for hero unit-->
        <br>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 pagination-centered"> <!--enter the text-->
          <blockquote class="pull-left">
          <h2>By Email</h2>
          <p>You can contact us by email via: </p>
            <address>
              <strong>Skiing Enquiries</strong><br>
              <a href="mailto:SkiEnquiries@OvalSkiClub.com" title="E-Mail: SkiEnquiries@OvalSkiClub.com">SkiEnquiries@OvalSkiClub.com </a>
            </blockquote>
              </address>
          </div>

          <div class= "span4 pagination-centered">
           <h2>By Phone</h2>
           <ul class ="unstyled">
            <li> We can be contacted via by on one of three numbers:</li>
           <li>John Wahlers (Chairman): 0151 645 2452</li>
           <li>Belinda Dawson (secretary): 0151 342 9756</li>
           <li>Tony McClave (Race Secretary): T.B.C</li></ul>
           <br>
           <br>

           <!--modal-->
           <p>Leave us a message</p>
           <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledyby="myModalLabel" aria-hidden="true" style="display: none; ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="close">x</button><!--close button for modal-->
              <h3 id="myModalLabel">Conact Form</h3>
            </div>

            <div class="modal-body"> <!--modal body-->
              <h4>Contact Us</h4>
              <p>Fill in the contact form to contact us</p>
               <input style="margin-bottom: 15px;" type="text" placeholder="Forename" size="30" title="Forename"/>
               <input style="margin-bottom: 15px;" type="text" placeholder="Surname" size="30" title="Surname"/>
               <br>
               <input style="margin-bottom: 15px;" type="text" placeholder="E-Mail Address" size="30" title="E-mail Address"/>
               <input style="margin-bottom: 15px;" type="text" placeholder="Contact Number" size="30" title="Contact Number"/>
               <br>
                <form method="post" action="">
                <textarea name="comments" cols="10" rows="10" class="span4">
                Enter your comments here...
                </textarea><br>
                <input type="submit" value="Submit" />
                </form>
                </div>

            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" title="Close">Close</button>
              <button class="btn btn-primary" data-dismiss="modal" title="Submit">Submit</button>
            </div>
          </div>

          <!--contact form button bring up modal-->
           <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large" title="Contact Form">Contcact Form</a>
           <!--end of modal-->
           <br>
           <br>
           <br>


        </div>
        <div class="span4 pagination-centered">
          <blockquote class="pull-right">
          <h2> Write To Us</h2>
          <address>
            <strong>Oval Ski Club</strong><br>
            Oval Sports Centre<br>
            Bebington<br>
            Wirral<br>
            Liverpoo<br>
            CH63 7LF<br>
          </blockquote>
          </address>
          <br>
        </div>
      </div>
      
    <div class="row"><!--google map-->
      <div class="pagination-centered" style="border-top: 5px solid #205090;">
        <h2> Find Us </h2>
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=oval+sports+center&amp;aq=&amp;sll=52.9718,-2.779541&amp;sspn=1.875643,5.410767&amp;t=h&amp;ie=UTF8&amp;hq=oval+sports+center&amp;hnear=&amp;ll=53.357621,-3.011541&amp;spn=0.012294,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=oval+sports+center&amp;aq=&amp;sll=52.9718,-2.779541&amp;sspn=1.875643,5.410767&amp;t=h&amp;ie=UTF8&amp;hq=oval+sports+center&amp;hnear=&amp;ll=53.357621,-3.011541&amp;spn=0.012294,0.027466&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>-->

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script type/javascript src="assets/js/bootstrap.min.js"></script>
    <script language ="javascript">
    $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });

</script>

  </body>
</html>

