<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lessons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="mystyles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#" title="Oval Ski Club">Oval Ski Club</a> <!--site name-->
          <div class="nav-collapse collapse">
            <ul class="nav">

              <!-- home page link-->
              <li><a href="index.html" title="Home" accesskey="h"> Home</a></li>
              
              <!-- first drop down box-->
              <li class="dropdown"> 
                <a href="#"  title="Information"class="dropdown-toggle" data-toggle="dropdown" title="Information">Information <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="AboutUs.html" title="About Us" accesskey="a">About Us</a></li>
                  <li><a href="ContactUs.html"title="Contac Us" accesskey="c">Contact Us</a></li>
                  <li><a href="FAQ.html"title="Frequently Asked Questions" accesskey="q">FAQ's</a></li>
                </ul>
              </li>

              <!-- second drop down box-->
               <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Events">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Social.html"title="Social Events" accesskey="s">Social</a></li>
                  <li><a href="RacingTeam.html"title="Racing Team" accesskey="r">Racing Team</a></li>
                  <li class="active"><a href="Sessions.html"title="Lessons" accesskey="l">Lessons</a></li>
                </ul>
              </li>
            </ul> 

         
            <!-- drop down sign in-->
          <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Sign In">Sign In <strong class="caret"></strong></a>

            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">

              <!-- Login form here -->
            <form action="index.html">

              <!--Username-->
            <input style="margin-bottom: 15px;" type="text" placeholder="Username" size="30" title="Userame"/> 

            <!--Password-->
            <input style="margin-bottom: 15px;" type="password" placeholder="Password" name="user[password]" size="30" title="Password"/>

            <!--Sign in button-->
            <button <input class= "btn btn-primary"  name="commit" value="Sign In" title="Sign In">Sign In</button>
          </form>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
    <div class="container">

      <!-- Main hero unit -->
      <div class="hero-unit">
        <h1>Oval Ski Club!</h1>
        <h2>Want to Learn to Ski?</h2>
        <br>
        <br>
        <br>
      </div>

       <div class="container"><!--start of container-->
       <div class="row">
       <div class="span8" style="border-top: 5px solid #205090;">
       <h2>Lessons</h2>
       <p>Oval Ski club holds lessons for juniors and adults, our lessons cover the full spetrum of ability.</p>
       <p>Everyone is welcome to join the club from first timers to full seasoned pros. If you are joining as a beginner then see the start dates of our beginner lessons in our diary to the right of the page</p>
       <br>
       <p>We are a members only club and everyone must join us prior to skiing. This will only take a few minutes and can be done on your first visit. The money we raise through our memberships are used for your benefit for equipment or instructor training for example. As a member you will recieve exclusive discounts from various local sports shops. Prices for member ships can be found below.</p>
       <br>
       <h3>Annual Mambership Fee</h3>
       <p>Joining us is simple, it can be by going down to the ski hut during the session hours and speaking to of the committe members or helpers. Membership requires renewal at the start of each sessions in September. The Prices are as follows:</p>
       <ul>
        <li>Junior Membership: £7.00</li>
        <li>Senior Membership: £15.00</li>
        <li>Family Membership: £30.00</li>
      </ul>
      <br>
      <h3>Junior Club<small><br>5+ to under 18's</small></h3>
      <p>Junior club is held on Saturday mornings fro 10AM to 1PM. The lessons cost £5.00 per person per session and £2.00 if you use yours own equipment. The ages groups are split into two differnt times. Please see below for more details.</p>
      <ul>
        <li>10AM - 11AM 5+ to under 11's</li>
        <li>11.30AM - 1PM 11+</li>
      </ul>
      <br>

      <h3>Adult Club</h3>
      <p>Adult club is run on Sunday evenings from 5PM to 8PM. On occasions we run family sessions so adults and kids can ski together. During these sessions everyone involved must be able to turn and stop safely. The times and dates for these will be advertised in the ski hut on the notice board. The lessons cost £5.00 per person per sessions and £2.00 if you use your own equipment. The times for these can be seen below.</p>
      <ul>
        <li>5 - 6PM Beginners lessons</li>
        <li>6 - 7PM Open skiing sessions</li>
        <li>7 - 8PM Improvement/Advanced lessons. This is for people who can snowplough turn.</li><br>
      </ul>
    </div>


    <!--diary start scrollable-->
    <div class="span4" style="max-height:700px; overflow-y:scroll;   border-top: 5px solid #205090;">
      <h3>Dates for the diary</h3>

        <i class="icon-calendar"></i>
        <strong>Saturday 13/10/12</strong>
        <p>10.00AM - 11.00AM
          <br>
          Junior clib for under 11's. New beginners lessons start.
          <br>
          <br>
          11.30AM - 1.00PM
          <br>
          Junior club for 11+. New beginners lessons start.</p>
          <br>

          <i class="icon-calendar"></i>
          <strong>Sunday 14/10/12</strong>
          <p>5.00PM - 6.00PM
            <br>
            Adult club - Beginners lessons (week 1 of 3)
            <br>
            <br>
            6.00PM - 7.00PM
            <br>
            Adult club - Open skiing sessions + improver lessons
            <br>
            <br>
            7.00PM - 8.00PM
            <br>
            Adult club - Intermediate/advanced lessons</p>
            <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 20/10/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's including the under 5's taster sessions
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Sunday 21/10/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's including the under 5's taster sessions
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>

              <i class="icon-calendar"></i>
            <strong>Saturday 27/10/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Sunday 28/10/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult club - beginners lessons(week 3 of 3) 
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - open skiing session + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              <br>
              Adult club - intermediate/advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 03/11/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's. New beginners start.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+. New beginners start.</p>

            <i class="icon-calendar"></i>
            <strong>Sunday 04/11/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 1 of 3.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 10/11/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>


            <i class="icon-calendar"></i>
            <strong>Sunday 11/11/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 2 of 3.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 17/11/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Sunday 18/11/12</strong>
            <p>****Yellow Duckmarine****
              <br>
              11.30AM
              <br>
              Albert Dock. See Events page for more details.
              <br>
              5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 3 of 3.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>


            <i class="icon-calendar"></i>
            <strong>Saturday 24/11/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's. New beginners start.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+. New beginners start.</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Sunday 25/11/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 1 of 4.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 01/12/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Sunday 02/12/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 2 of 4.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Saturday 08/12/12</strong>
            <p>10.00AM - 11.00AM
              <br>
              Junior club for under 11's.
              <br>
              <br>
              11.30AM - 1.00PM
              <br>
              Junior club for 11+</p>
              <br>


            <i class="icon-calendar"></i>
            <strong>Sunday 09/12/12</strong>
            <p>5.00PM - 6.00PM
              <br>
              Adult Club - Beginners lessons week 3 of 4.
              <br>
              <br>
              6.00PM - 7.00PM
              <br>
              Adult club - Open skiing sessions + improver lessons
              <br>
              <br>
              7.00PM - 8.00PM
              Adult Club - Intermediate/Advanced lessons</p>
              <br>

            <i class="icon-calendar"></i>
            <strong>Wednesday 23/01/13</strong>
            <p>5.00pm - 8.00pm
              <br>
              ****Getting Nailed****
              <br>
              Caroline and Co beauty consultants. See Events page for more details.</p>s
              <br>

            <i class="icon-calendar"></i>
            <strong>Friday 26/04/12</strong>
            <br>
            7.00PM - 10.30PM
            <br>
            ****Brewery Tour****
            <br>
            Peerles Brewery Tour. See events page for more details.
            <br>

              <p class ="text-info">*Please check back regularly for more dates</p><!--end of diary-->
            </div>
          </div><!-- end of container-->

            <div class="row">
              <div class="pagination-centered" style="border-top: 5px solid #205090;">
                <h2>Sneak Preview</h2>
                <p>Here is a sneak preview of what we do</p><!--YouTube video-->
                <iframe width="560" height="315" src="http://www.youtube.com/embed/yOveLBduJKk?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

        
          


      <footer>

      <div class="span1"> <!-- facebook link-->
      <div class="brand">  <a href="https://www.facebook.com/groups/2256597544/" title="Facebok Page"><img src="assets/img/fbbutton.jpg" class="brand"></a></div>
      </div>
      <hr>

       <div class="pagination-centered">
        <p>&copy; Oval Ski Club 2012</p>
      </div>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>-->

    <!--import scripts and extra scripts for login form-->
    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script type/javascript src="assets/js/bootstrap.min.js"></script>
    <script language ="javascript">
    $(function(){
      $('.dropdown-toggle').dropdown();
    $('.dropdown input, .dropdown label').click(function (e) {
        e.stopPropagation();
      });
  });

</script>

  </body>
</html>

